In [1]:
import pandas as pd
import numpy as np
import scipy as sp

In [2]:
import plotly
plotly.tools.set_credentials_file(username='jainakhil93', api_key='zauGZe5tJcAzvWOFM7d5')

In [3]:
import plotly.plotly as py
import plotly.graph_objs as go
import plotly.figure_factory as FF

In [4]:
global_data_file = open('global_data.csv', 'r')
global_data_file_read = global_data_file.read()
global_data = global_data_file_read.split('\n')
bangalore_data_file = open('bangalore_data.csv', 'r')
bangalore_data_file_read = bangalore_data_file.read()
bangalore_data = bangalore_data_file_read.split('\n')

In [5]:
global_data

['year,avg_temp,5 year moving average',
 '1750,8.72,',
 '1751,7.98,',
 '1752,5.78,',
 '1753,8.39,',
 '1754,8.47,',
 '1755,8.36,7.868',
 '1756,8.85,7.796',
 '1757,9.02,7.97',
 '1758,6.74,8.618',
 '1759,7.99,8.288',
 '1760,7.19,8.192',
 '1761,8.77,7.958',
 '1762,8.61,7.942',
 '1763,7.5,7.86',
 '1764,8.4,8.012',
 '1765,8.25,8.094',
 '1766,8.41,8.306',
 '1767,8.22,8.234',
 '1768,6.78,8.156',
 '1769,7.69,8.012',
 '1770,7.69,7.87',
 '1771,7.85,7.758',
 '1772,8.19,7.646',
 '1773,8.22,7.64',
 '1774,8.77,7.928',
 '1775,9.18,8.144',
 '1776,8.3,8.442',
 '1777,8.26,8.532',
 '1778,8.54,8.546',
 '1779,8.98,8.61',
 '1780,9.43,8.652',
 '1781,8.1,8.702',
 '1782,7.9,8.662',
 '1783,7.68,8.59',
 '1784,7.86,8.418',
 '1785,7.36,8.194',
 '1786,8.26,7.78',
 '1787,8.03,7.812',
 '1788,8.45,7.838',
 '1789,8.33,7.992',
 '1790,7.98,8.086',
 '1791,8.23,8.21',
 '1792,8.09,8.204',
 '1793,8.23,8.216',
 '1794,8.53,8.172',
 '1795,8.35,8.212',
 '1796,8.27,8.286',
 '1797,8.51,8.294',
 '1798,8.67,8.378',
 '1799,8.51,8.466',
 '1800,8.48,8.462',
 '1801,8.59,8.488',
 '1802,8.58,8.552',
 '1803,8.5,8.566',
 '1804,8.84,8.532',
 '1805,8.56,8.598',
 '1806,8.43,8.614',
 '1807,8.28,8.582',
 '1808,7.63,8.522',
 '1809,7.08,8.348',
 '1810,6.92,7.996',
 '1811,6.86,7.668',
 '1812,7.05,7.354',
 '1813,7.74,7.108',
 '1814,7.59,7.13',
 '1815,7.24,7.232',
 '1816,6.94,7.296',
 '1817,6.98,7.312',
 '1818,7.83,7.298',
 '1819,7.37,7.316',
 '1820,7.62,7.272',
 '1821,8.09,7.348',
 '1822,8.19,7.578',
 '1823,7.72,7.82',
 '1824,8.55,7.798',
 '1825,8.39,8.034',
 '1826,8.36,8.188',
 '1827,8.81,8.242',
 '1828,8.17,8.366',
 '1829,7.94,8.456',
 '1830,8.52,8.334',
 '1831,7.64,8.36',
 '1832,7.45,8.216',
 '1833,8.01,7.944',
 '1834,8.15,7.912',
 '1835,7.39,7.954',
 '1836,7.7,7.728',
 '1837,7.38,7.74',
 '1838,7.51,7.726',
 '1839,7.63,7.626',
 '1840,7.8,7.522',
 '1841,7.69,7.604',
 '1842,8.02,7.602',
 '1843,8.17,7.73',
 '1844,7.65,7.862',
 '1845,7.85,7.866',
 '1846,8.55,7.876',
 '1847,8.09,8.048',
 '1848,7.98,8.062',
 '1849,7.98,8.024',
 '1850,7.9,8.09',
 '1851,8.18,8.1',
 '1852,8.1,8.026',
 '1853,8.04,8.028',
 '1854,8.21,8.04',
 '1855,8.11,8.086',
 '1856,8,8.128',
 '1857,7.76,8.092',
 '1858,8.1,8.024',
 '1859,8.25,8.036',
 '1860,7.96,8.044',
 '1861,7.85,8.014',
 '1862,7.56,7.984',
 '1863,8.11,7.944',
 '1864,7.98,7.946',
 '1865,8.18,7.892',
 '1866,8.29,7.936',
 '1867,8.44,8.024',
 '1868,8.25,8.2',
 '1869,8.43,8.228',
 '1870,8.2,8.318',
 '1871,8.12,8.322',
 '1872,8.19,8.288',
 '1873,8.35,8.238',
 '1874,8.43,8.258',
 '1875,7.86,8.258',
 '1876,8.08,8.19',
 '1877,8.54,8.182',
 '1878,8.83,8.252',
 '1879,8.17,8.348',
 '1880,8.12,8.296',
 '1881,8.27,8.348',
 '1882,8.13,8.386',
 '1883,7.98,8.304',
 '1884,7.77,8.134',
 '1885,7.92,8.054',
 '1886,7.95,8.014',
 '1887,7.91,7.95',
 '1888,8.09,7.906',
 '1889,8.32,7.928',
 '1890,7.97,8.038',
 '1891,8.02,8.048',
 '1892,8.07,8.062',
 '1893,8.06,8.094',
 '1894,8.16,8.088',
 '1895,8.15,8.056',
 '1896,8.21,8.092',
 '1897,8.29,8.13',
 '1898,8.18,8.174',
 '1899,8.4,8.198',
 '1900,8.5,8.246',
 '1901,8.54,8.316',
 '1902,8.3,8.382',
 '1903,8.22,8.384',
 '1904,8.09,8.392',
 '1905,8.23,8.33',
 '1906,8.38,8.276',
 '1907,7.95,8.244',
 '1908,8.19,8.174',
 '1909,8.18,8.168',
 '1910,8.22,8.186',
 '1911,8.18,8.184',
 '1912,8.17,8.144',
 '1913,8.3,8.188',
 '1914,8.59,8.21',
 '1915,8.59,8.292',
 '1916,8.23,8.366',
 '1917,8.02,8.376',
 '1918,8.13,8.346',
 '1919,8.38,8.312',
 '1920,8.36,8.27',
 '1921,8.57,8.224',
 '1922,8.41,8.292',
 '1923,8.42,8.37',
 '1924,8.51,8.428',
 '1925,8.53,8.454',
 '1926,8.73,8.488',
 '1927,8.52,8.52',
 '1928,8.63,8.542',
 '1929,8.24,8.584',
 '1930,8.63,8.53',
 '1931,8.72,8.55',
 '1932,8.71,8.548',
 '1933,8.34,8.586',
 '1934,8.63,8.528',
 '1935,8.52,8.606',
 '1936,8.55,8.584',
 '1937,8.7,8.55',
 '1938,8.86,8.548',
 '1939,8.76,8.652',
 '1940,8.76,8.678',
 '1941,8.77,8.726',
 '1942,8.73,8.77',
 '1943,8.76,8.776',
 '1944,8.85,8.756',
 '1945,8.58,8.774',
 '1946,8.68,8.738',
 '1947,8.8,8.72',
 '1948,8.75,8.734',
 '1949,8.59,8.732',
 '1950,8.37,8.68',
 '1951,8.63,8.638',
 '1952,8.64,8.628',
 '1953,8.87,8.596',
 '1954,8.56,8.62',
 '1955,8.63,8.614',
 '1956,8.28,8.666',
 '1957,8.73,8.596',
 '1958,8.77,8.614',
 '1959,8.73,8.594',
 '1960,8.58,8.628',
 '1961,8.8,8.618',
 '1962,8.75,8.722',
 '1963,8.86,8.726',
 '1964,8.41,8.744',
 '1965,8.53,8.68',
 '1966,8.6,8.67',
 '1967,8.7,8.63',
 '1968,8.52,8.62',
 '1969,8.6,8.552',
 '1970,8.7,8.59',
 '1971,8.6,8.624',
 '1972,8.5,8.624',
 '1973,8.95,8.584',
 '1974,8.47,8.67',
 '1975,8.74,8.644',
 '1976,8.35,8.652',
 '1977,8.85,8.602',
 '1978,8.69,8.672',
 '1979,8.73,8.62',
 '1980,8.98,8.672',
 '1981,9.17,8.72',
 '1982,8.64,8.884',
 '1983,9.03,8.842',
 '1984,8.69,8.91',
 '1985,8.66,8.902',
 '1986,8.83,8.838',
 '1987,8.99,8.77',
 '1988,9.2,8.84',
 '1989,8.92,8.874',
 '1990,9.23,8.92',
 '1991,9.18,9.034',
 '1992,8.84,9.104',
 '1993,8.87,9.074',
 '1994,9.04,9.008',
 '1995,9.35,9.032',
 '1996,9.04,9.056',
 '1997,9.2,9.028',
 '1998,9.52,9.1',
 '1999,9.29,9.23',
 '2000,9.2,9.28',
 '2001,9.41,9.25',
 '2002,9.57,9.324',
 '2003,9.53,9.398',
 '2004,9.32,9.4',
 '2005,9.7,9.406',
 '2006,9.53,9.506',
 '2007,9.73,9.53',
 '2008,9.43,9.562',
 '2009,9.51,9.542',
 '2010,9.7,9.58',
 '2011,9.52,9.58',
 '2012,9.51,9.578',
 '2013,9.61,9.534',
 '2014,9.57,9.57',
 '2015,9.83,9.582',
 '']

In [6]:
bangalore_data

['ï»¿year,city,country,avg_temp,5-year Moving Average',
 '1796,Bangalore,India,24.49,',
 '1797,Bangalore,India,25.18,',
 '1798,Bangalore,India,24.65,',
 '1799,Bangalore,India,24.81,',
 '1800,Bangalore,India,24.85,',
 '1801,Bangalore,India,24.49,24.796',
 '1802,Bangalore,India,25.44,24.796',
 '1803,Bangalore,India,25.22,24.848',
 '1804,Bangalore,India,25.67,24.962',
 '1805,Bangalore,India,25.01,25.134',
 '1806,Bangalore,India,24.87,25.166',
 '1807,Bangalore,India,24.25,25.242',
 '1808,Bangalore,India,24,25.004',
 '1809,Bangalore,India,24,24.76',
 '1810,Bangalore,India,24,24.426',
 '1811,Bangalore,India,24,24.224',
 '1812,Bangalore,India,24,24.05',
 '1813,Bangalore,India,24.23,24',
 '1814,Bangalore,India,23.91,24.046',
 '1815,Bangalore,India,23.79,24.028',
 '1816,Bangalore,India,23.3,23.986',
 '1817,Bangalore,India,23.6,23.846',
 '1818,Bangalore,India,23.94,23.766',
 '1819,Bangalore,India,23.86,23.708',
 '1820,Bangalore,India,23.91,23.698',
 '1821,Bangalore,India,24.4,23.722',
 '1822,Bangalore,India,24.33,23.942',
 '1823,Bangalore,India,24.62,24.088',
 '1824,Bangalore,India,25.1,24.224',
 '1825,Bangalore,India,24.69,24.472',
 '1826,Bangalore,India,24.88,24.628',
 '1827,Bangalore,India,24.67,24.724',
 '1828,Bangalore,India,24.61,24.792',
 '1829,Bangalore,India,24.46,24.79',
 '1830,Bangalore,India,24.39,24.662',
 '1831,Bangalore,India,24.43,24.602',
 '1832,Bangalore,India,24.66,24.512',
 '1833,Bangalore,India,24.46,24.51',
 '1834,Bangalore,India,24.59,24.48',
 '1835,Bangalore,India,23.89,24.506',
 '1836,Bangalore,India,24.12,24.406',
 '1837,Bangalore,India,24.13,24.344',
 '1838,Bangalore,India,24.29,24.238',
 '1839,Bangalore,India,24.24,24.204',
 '1840,Bangalore,India,24.24,24.134',
 '1841,Bangalore,India,24.05,24.204',
 '1842,Bangalore,India,24.22,24.19',
 '1843,Bangalore,India,23.99,24.208',
 '1844,Bangalore,India,24.23,24.148',
 '1845,Bangalore,India,24.46,24.146',
 '1846,Bangalore,India,24.9,24.19',
 '1847,Bangalore,India,24.35,24.36',
 '1848,Bangalore,India,24.35,24.386',
 '1849,Bangalore,India,24.32,24.458',
 '1850,Bangalore,India,24.38,24.476',
 '1851,Bangalore,India,24.45,24.46',
 '1852,Bangalore,India,24.43,24.37',
 '1853,Bangalore,India,24.67,24.386',
 '1854,Bangalore,India,24.73,24.45',
 '1855,Bangalore,India,24.75,24.532',
 '1856,Bangalore,India,24.21,24.606',
 '1857,Bangalore,India,23.87,24.558',
 '1858,Bangalore,India,24.59,24.446',
 '1859,Bangalore,India,24.55,24.43',
 '1860,Bangalore,India,24.41,24.394',
 '1861,Bangalore,India,24.21,24.326',
 '1862,Bangalore,India,23.59,24.326',
 '1863,Bangalore,India,24,24.27',
 '1864,Bangalore,India,24,24.152',
 '1865,Bangalore,India,25.06,24.042',
 '1866,Bangalore,India,25,24.172',
 '1867,Bangalore,India,24.96,24.33',
 '1868,Bangalore,India,25.07,24.604',
 '1869,Bangalore,India,24.92,24.818',
 '1870,Bangalore,India,24.42,25.002',
 '1871,Bangalore,India,24.47,24.874',
 '1872,Bangalore,India,24.48,24.768',
 '1873,Bangalore,India,24.51,24.672',
 '1874,Bangalore,India,24.56,24.56',
 '1875,Bangalore,India,24.64,24.488',
 '1876,Bangalore,India,24.84,24.532',
 '1877,Bangalore,India,25.23,24.606',
 '1878,Bangalore,India,25.15,24.756',
 '1879,Bangalore,India,24.39,24.884',
 '1880,Bangalore,India,24.58,24.85',
 '1881,Bangalore,India,24.76,24.838',
 '1882,Bangalore,India,24.33,24.822',
 '1883,Bangalore,India,24.25,24.642',
 '1884,Bangalore,India,24.35,24.462',
 '1885,Bangalore,India,24.62,24.454',
 '1886,Bangalore,India,24.53,24.462',
 '1887,Bangalore,India,24.31,24.416',
 '1888,Bangalore,India,24.63,24.412',
 '1889,Bangalore,India,24.73,24.488',
 '1890,Bangalore,India,24.46,24.564',
 '1891,Bangalore,India,24.95,24.532',
 '1892,Bangalore,India,24.59,24.616',
 '1893,Bangalore,India,24.38,24.672',
 '1894,Bangalore,India,24.75,24.622',
 '1895,Bangalore,India,24.78,24.626',
 '1896,Bangalore,India,25.12,24.69',
 '1897,Bangalore,India,25.3,24.724',
 '1898,Bangalore,India,24.87,24.866',
 '1899,Bangalore,India,24.74,24.964',
 '1900,Bangalore,India,25.44,24.962',
 '1901,Bangalore,India,25.09,25.094',
 '1902,Bangalore,India,25.06,25.088',
 '1903,Bangalore,India,24.82,25.04',
 '1904,Bangalore,India,24.53,25.03',
 '1905,Bangalore,India,24.92,24.988',
 '1906,Bangalore,India,25.09,24.884',
 '1907,Bangalore,India,24.74,24.884',
 '1908,Bangalore,India,24.66,24.82',
 '1909,Bangalore,India,24.61,24.788',
 '1910,Bangalore,India,24.42,24.804',
 '1911,Bangalore,India,24.76,24.704',
 '1912,Bangalore,India,25,24.638',
 '1913,Bangalore,India,25,24.69',
 '1914,Bangalore,India,25.02,24.758',
 '1915,Bangalore,India,25.22,24.84',
 '1916,Bangalore,India,24.75,25',
 '1917,Bangalore,India,24.46,24.998',
 '1918,Bangalore,India,24.74,24.89',
 '1919,Bangalore,India,25.06,24.838',
 '1920,Bangalore,India,24.99,24.846',
 '1921,Bangalore,India,24.88,24.8',
 '1922,Bangalore,India,24.74,24.826',
 '1923,Bangalore,India,24.84,24.882',
 '1924,Bangalore,India,24.89,24.902',
 '1925,Bangalore,India,24.69,24.868',
 '1926,Bangalore,India,25.14,24.808',
 '1927,Bangalore,India,25.06,24.86',
 '1928,Bangalore,India,25.06,24.924',
 '1929,Bangalore,India,24.87,24.968',
 '1930,Bangalore,India,24.86,24.964',
 '1931,Bangalore,India,25.24,24.998',
 '1932,Bangalore,India,24.68,25.018',
 '1933,Bangalore,India,24.61,24.942',
 '1934,Bangalore,India,24.81,24.852',
 '1935,Bangalore,India,24.93,24.84',
 '1936,Bangalore,India,24.99,24.854',
 '1937,Bangalore,India,24.96,24.804',
 '1938,Bangalore,India,24.91,24.86',
 '1939,Bangalore,India,24.84,24.92',
 '1940,Bangalore,India,24.92,24.926',
 '1941,Bangalore,India,25.55,24.924',
 '1942,Bangalore,India,25.23,25.036',
 '1943,Bangalore,India,24.69,25.09',
 '1944,Bangalore,India,24.92,25.046',
 '1945,Bangalore,India,25.05,25.062',
 '1946,Bangalore,India,24.97,25.088',
 '1947,Bangalore,India,25.02,24.972',
 '1948,Bangalore,India,25.21,24.93',
 '1949,Bangalore,India,24.92,25.034',
 '1950,Bangalore,India,24.85,25.034',
 '1951,Bangalore,India,25.03,24.994',
 '1952,Bangalore,India,25.12,25.006',
 '1953,Bangalore,India,25.18,25.026',
 '1954,Bangalore,India,24.92,25.02',
 '1955,Bangalore,India,24.78,25.02',
 '1956,Bangalore,India,24.73,25.006',
 '1957,Bangalore,India,25.11,24.946',
 '1958,Bangalore,India,25.29,24.944',
 '1959,Bangalore,India,25.24,24.966',
 '1960,Bangalore,India,25.07,25.03',
 '1961,Bangalore,India,24.97,25.088',
 '1962,Bangalore,India,24.9,25.136',
 '1963,Bangalore,India,25.04,25.094',
 '1964,Bangalore,India,25.09,25.044',
 '1965,Bangalore,India,25.04,25.014',
 '1966,Bangalore,India,25.32,25.008',
 '1967,Bangalore,India,24.87,25.078',
 '1968,Bangalore,India,25,25.072',
 '1969,Bangalore,India,25.36,25.064',
 '1970,Bangalore,India,24.95,25.118',
 '1971,Bangalore,India,24.74,25.1',
 '1972,Bangalore,India,25.22,24.984',
 '1973,Bangalore,India,25.4,25.054',
 '1974,Bangalore,India,24.94,25.134',
 '1975,Bangalore,India,24.86,25.05',
 '1976,Bangalore,India,25.13,25.032',
 '1977,Bangalore,India,25.2,25.11',
 '1978,Bangalore,India,25.07,25.106',
 '1979,Bangalore,India,25.44,25.04',
 '1980,Bangalore,India,25.45,25.14',
 '1981,Bangalore,India,25.17,25.258',
 '1982,Bangalore,India,25.42,25.266',
 '1983,Bangalore,India,25.59,25.31',
 '1984,Bangalore,India,25.08,25.414',
 '1985,Bangalore,India,25.31,25.342',
 '1986,Bangalore,India,25.51,25.314',
 '1987,Bangalore,India,25.81,25.382',
 '1988,Bangalore,India,25.5,25.46',
 '1989,Bangalore,India,25.2,25.442',
 '1990,Bangalore,India,25.25,25.466',
 '1991,Bangalore,India,25.49,25.454',
 '1992,Bangalore,India,25.16,25.45',
 '1993,Bangalore,India,25.22,25.32',
 '1994,Bangalore,India,25.22,25.264',
 '1995,Bangalore,India,25.44,25.268',
 '1996,Bangalore,India,25.41,25.306',
 '1997,Bangalore,India,25.68,25.29',
 '1998,Bangalore,India,26.01,25.394',
 '1999,Bangalore,India,25.29,25.552',
 '2000,Bangalore,India,25.34,25.566',
 '2001,Bangalore,India,25.53,25.546',
 '2002,Bangalore,India,25.76,25.57',
 '2003,Bangalore,India,25.92,25.586',
 '2004,Bangalore,India,25.25,25.568',
 '2005,Bangalore,India,25.48,25.56',
 '2006,Bangalore,India,25.42,25.588',
 '2007,Bangalore,India,25.46,25.566',
 '2008,Bangalore,India,25.35,25.506',
 '2009,Bangalore,India,25.73,25.392',
 '2010,Bangalore,India,25.71,25.488',
 '2011,Bangalore,India,25.36,25.534',
 '2012,Bangalore,India,26.04,25.522',
 '2013,Bangalore,India,26.61,25.638',
 '']

In [7]:
gdf = pd.read_csv('global_data.csv')
gdf.head(268)

     year  avg_temp  5 year moving average
0    1750      8.72                    NaN
1    1751      7.98                    NaN
2    1752      5.78                    NaN
3    1753      8.39                    NaN
4    1754      8.47                    NaN
5    1755      8.36                  7.868
6    1756      8.85                  7.796
7    1757      9.02                  7.970
8    1758      6.74                  8.618
9    1759      7.99                  8.288
10   1760      7.19                  8.192
11   1761      8.77                  7.958
12   1762      8.61                  7.942
13   1763      7.50                  7.860
14   1764      8.40                  8.012
15   1765      8.25                  8.094
16   1766      8.41                  8.306
17   1767      8.22                  8.234
18   1768      6.78                  8.156
19   1769      7.69                  8.012
20   1770      7.69                  7.870
21   1771      7.85                  7.758
22   1772      8.19                  7.646
23   1773      8.22                  7.640
24   1774      8.77                  7.928
25   1775      9.18                  8.144
26   1776      8.30                  8.442
27   1777      8.26                  8.532
28   1778      8.54                  8.546
29   1779      8.98                  8.610
..    ...       ...                    ...
236  1986      8.83                  8.838
237  1987      8.99                  8.770
238  1988      9.20                  8.840
239  1989      8.92                  8.874
240  1990      9.23                  8.920
241  1991      9.18                  9.034
242  1992      8.84                  9.104
243  1993      8.87                  9.074
244  1994      9.04                  9.008
245  1995      9.35                  9.032
246  1996      9.04                  9.056
247  1997      9.20                  9.028
248  1998      9.52                  9.100
249  1999      9.29                  9.230
250  2000      9.20                  9.280
251  2001      9.41                  9.250
252  2002      9.57                  9.324
253  2003      9.53                  9.398
254  2004      9.32                  9.400
255  2005      9.70                  9.406
256  2006      9.53                  9.506
257  2007      9.73                  9.530
258  2008      9.43                  9.562
259  2009      9.51                  9.542
260  2010      9.70                  9.580
261  2011      9.52                  9.580
262  2012      9.51                  9.578
263  2013      9.61                  9.534
264  2014      9.57                  9.570
265  2015      9.83                  9.582

[266 rows x 3 columns]

In [8]:
bdf = pd.read_csv('bangalore_data.csv')
bdf.head(268)

     year       city country  avg_temp  5-year Moving Average
0    1796  Bangalore   India     24.49                    NaN
1    1797  Bangalore   India     25.18                    NaN
2    1798  Bangalore   India     24.65                    NaN
3    1799  Bangalore   India     24.81                    NaN
4    1800  Bangalore   India     24.85                    NaN
5    1801  Bangalore   India     24.49                 24.796
6    1802  Bangalore   India     25.44                 24.796
7    1803  Bangalore   India     25.22                 24.848
8    1804  Bangalore   India     25.67                 24.962
9    1805  Bangalore   India     25.01                 25.134
10   1806  Bangalore   India     24.87                 25.166
11   1807  Bangalore   India     24.25                 25.242
12   1808  Bangalore   India     24.00                 25.004
13   1809  Bangalore   India     24.00                 24.760
14   1810  Bangalore   India     24.00                 24.426
15   1811  Bangalore   India     24.00                 24.224
16   1812  Bangalore   India     24.00                 24.050
17   1813  Bangalore   India     24.23                 24.000
18   1814  Bangalore   India     23.91                 24.046
19   1815  Bangalore   India     23.79                 24.028
20   1816  Bangalore   India     23.30                 23.986
21   1817  Bangalore   India     23.60                 23.846
22   1818  Bangalore   India     23.94                 23.766
23   1819  Bangalore   India     23.86                 23.708
24   1820  Bangalore   India     23.91                 23.698
25   1821  Bangalore   India     24.40                 23.722
26   1822  Bangalore   India     24.33                 23.942
27   1823  Bangalore   India     24.62                 24.088
28   1824  Bangalore   India     25.10                 24.224
29   1825  Bangalore   India     24.69                 24.472
..    ...        ...     ...       ...                    ...
188  1984  Bangalore   India     25.08                 25.414
189  1985  Bangalore   India     25.31                 25.342
190  1986  Bangalore   India     25.51                 25.314
191  1987  Bangalore   India     25.81                 25.382
192  1988  Bangalore   India     25.50                 25.460
193  1989  Bangalore   India     25.20                 25.442
194  1990  Bangalore   India     25.25                 25.466
195  1991  Bangalore   India     25.49                 25.454
196  1992  Bangalore   India     25.16                 25.450
197  1993  Bangalore   India     25.22                 25.320
198  1994  Bangalore   India     25.22                 25.264
199  1995  Bangalore   India     25.44                 25.268
200  1996  Bangalore   India     25.41                 25.306
201  1997  Bangalore   India     25.68                 25.290
202  1998  Bangalore   India     26.01                 25.394
203  1999  Bangalore   India     25.29                 25.552
204  2000  Bangalore   India     25.34                 25.566
205  2001  Bangalore   India     25.53                 25.546
206  2002  Bangalore   India     25.76                 25.570
207  2003  Bangalore   India     25.92                 25.586
208  2004  Bangalore   India     25.25                 25.568
209  2005  Bangalore   India     25.48                 25.560
210  2006  Bangalore   India     25.42                 25.588
211  2007  Bangalore   India     25.46                 25.566
212  2008  Bangalore   India     25.35                 25.506
213  2009  Bangalore   India     25.73                 25.392
214  2010  Bangalore   India     25.71                 25.488
215  2011  Bangalore   India     25.36                 25.534
216  2012  Bangalore   India     26.04                 25.522
217  2013  Bangalore   India     26.61                 25.638

[218 rows x 5 columns]

In [9]:
    trace = go.Scatter(
                      x = bdf['year'], y = bdf['5-year Moving Average'],
                      name='5 year moving average'
                      )
    layout = go.Layout(
                      title='Moving average of Bangalore',
                      plot_bgcolor='rgb(230, 230,230)', 
                      showlegend=True
                      )
    fig = go.Figure(data=[trace], layout=layout)

    py.iplot(fig, filename='bangalore_data')

In [10]:
trace = go.Scatter(
                  x = gdf['year'], y = gdf['5 year moving average'],
                  name='5 year moving average'
                  )
layout = go.Layout(
                  title='Moving average globally',
                  plot_bgcolor='rgb(230, 230,230)', 
                  showlegend=True
                  )
fig = go.Figure(data=[trace], layout=layout)

py.iplot(fig, filename='global_data')